{% extends 'base.html' %}

{% block title %}Modifier Utilisateur{% endblock %}

{% block content %}
<div class="elevepage1">
    <a href="{% url 'utilisateur:index' %}" class="elevepage1min">
        <i class="fas fa-arrow-left"></i>
        <span>Retour</span>
    </a>

    <div class="elevepage1min2">
        <h2>Modifier un utilisateur</h2>
        <form method="post">
            {% csrf_token %}
            {{ form }}
            <div class="form-buttons">
                <a href="{% url 'utilisateur:index' %}" class="btn-cancel">Annuler</a>
                <button type="submit" class="btn-save">Enregistrer</button>
            </div>
        </form>
        
    </div>
</div>
{% endblock %}
